<h2>Tasks</h2>

<p><%= link_to 'Create task', new_todo_list_task_path(@todo_list) %></p>

<table>
  <tr>
    <th>Description</th>
    <th>Expiration time</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tasks %>
</table>