<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2>Edit task</h2>

    <%= render 'form' %>

    <p><%= link_to 'Back', todo_list_path(@task.todo_list) %></p>
  </div>
</div>