<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item"><strong>Description:</strong> <%= @task.description %></li>
      <li class="list-group-item"><strong>Expiration time:</strong> <%= @task.expiration_time %></li>
      <li class="list-group-item"><strong>TODO list:</strong> <%= @task.todo_list.title %></li>
    </ul>

    <div class="mt-2">
      <%= link_to 'Back', todo_list_path(@task.todo_list) %>
    </div>
  </div>
</div>