<tr>
  <td><%= todo_list.title %></td>
  <td><%= link_to 'Show', todo_list_path(todo_list) %></td>
  <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
  <td><%= link_to 'Delete', todo_list_path(todo_list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>